<main class="main">
    <div class="page-1">
        <div class="page-1__body container" >
            <h2>Welcome to our</h2>
            <h1 *ngIf="menuDetails.name">{{ menuDetails.name }} Page</h1>
            <h1 *ngIf="!menuDetails.name">Prime video Page</h1>
        </div>

       
        <div class="bubble">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
            <img src="../../../assets/images/bubble.png" alt="">
        </div>

    </div>
</main>